<div class="project-container"
     (click)="redirect()"
     (mouseenter)="mouseEnter()"
     (mouseleave)="mouseLeave()"
        [style.background]="container_hover_color | safetyStyle">
    <div class="project-reach-container"
            *ngIf="reachBinary | async">
        <img [src]="reachBinary | async" alt="HALO REACH"/>
    </div>
    <div class="project-description-container"
            [style.color]="textColor | safetyStyle"
         [style.background-image]="backgroundStyle | safetyStyle">
        <h4 class="project-title" [style.color]="titleColor">
            {{excerpt}}
        </h4>
        <p><span class="project-host-name" [style.color]="hostNameColor">alex@acari</span>:<span class="project-pwd" [style.color]="pwdColor">~/projects</span>$ cat {{fileName}}</p>
        <p>{{description}}</p>
        <p><span class="project-host-name" [style.color]="hostNameColor">alex@acari</span>:<span class="project-pwd" [style.color]="pwdColor">~/projects</span>$ <caret [backgroundColor]="caretSolidColor" [outline]="caretBlurredStyle"></caret></p>
    </div>

</div>