<div class="project-container"
     (click)="redirect()"
     (mouseenter)="mouseEnter()"
     (mouseleave)="mouseLeave()">
    <div class="project-reach-container"
            *ngIf="reachBinary | async">
        <img [src]="reachBinary | async" alt="HALO REACH"/>
    </div>
    <div class="project-description-container"
            [style.color]="textColor | safetyStyle"
         [style.background-image]="backgroundStyle | safetyStyle">
        <h4>
            {{excerpt}}
        </h4>
        <p>
            {{description}}
        </p>
    </div>

</div>