<div class="edit-container" [hidden]="cantEdit | async">
    <button (click)="toggleEdit()"
    class="btn-lg btn btn-info">Edit</button>
    <button (click)="removeProject()"
    class="btn-lg btn btn-danger">
        Remove
    </button>
    <div [hidden]="hideEdit | async">
        <div *ngIf="isLocalProject()">
            <local-project-manipulation [(project)]="project"
                                        (onUpdate)="saveAllProjects()"
            ></local-project-manipulation>
        </div>
        <div *ngIf="isRemoteProject()">
            <remote-project-manipulation [(project)]="project"
                                         (onUpdate)="saveAllProjects()"></remote-project-manipulation>
        </div>
    </div>
</div>

<project-view [project]="project"></project-view>