$cursor-color: rgba(0,200,0, 1);

.blurred-cursor {

  margin-left: 1px;
}

.blinking-cursor {
  margin-left: 1px;
  -webkit-animation: blink 2s step-end 0s infinite;
  -moz-animation: blink 2s step-end 0s infinite;
  -ms-animation: blink 2s step-end 0s infinite;
  -o-animation: blink 2s step-end 0s infinite;
}

.cursor {
  margin-left: 1px;
}
@-webkit-keyframes blink {
  50%  { opacity: 0; }
}

@-moz-keyframes blink {
  50%  { opacity: 0; }
}

@-ms-keyframes blink {
  50%  { opacity: 0; }
}

@-o-keyframes blink {
  50%  { opacity: 0; }
}