$icon-color: crimson;


/**
 * Site footer
 */
.site-footer {
  padding: 1em 0;
}

.footer-wapper {
  display: flex;

}

.footer-col-1 {
  margin-right: 1em;
}

.card-footer{
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.footer-col{
  min-width: 0;
}

.welcome-header {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  max-width: 10em;
  margin-bottom: 0.5em;
  border-radius: 0.25em 1em 0.5em 1em;
}

.footer-wapper a {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}

.name {
  margin-bottom: 0.75em;
}

.footer-heading {
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.social-media-link {
  margin-top: 0.75em;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

.icon-credits {
  font-size: 0.25em;
  padding-top: 1em;
  max-width: 500px;
  white-space: pre-line;
}



.icon-credits a {
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.25em;
  margin-bottom: 0.5em;
  border-radius: 0.5em;
}


body {
  font-family: Tahoma, Geneva, sans-serif;
  line-height: 1.5;
  font-weight: 300;
  background: #e3e3e3 url('../images/stripe.png');
  background-attachment: fixed;
  -webkit-text-size-adjust: 100%;
  color: ghostwhite;
  overflow-x: hidden;
  display: block;
  max-width: 1500px;
  margin: auto;
  padding: 40px 50px;
}

.project-creation-container {
}

.boxed-content {
  background: rgba(29, 2, 2, 0.37);
  z-index: 10000;
  position: relative;
  width: 99.984%;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.app-container {
  box-sizing: content-box;
  padding: 1.5em;
  border-radius: 1.5em;
}

.slider-bro {
  margin-top: 3rem;
}

.dead-mans-switch {

}

.site-border {
  background: rgba(150, 0, 14, 0.64);
  border-radius: 1em 1em 0 0;
  opacity: 0.5;
  background: -webkit-linear-gradient(left, rgba(150, 0, 14, 0.64), #cecbd9);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(right, rgba(150, 0, 14, 0.64), #cecbd9);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(right, rgba(150, 0, 14, 0.64), #cecbd9);
  /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(150, 0, 14, 0.64), #cecbd9);
  /*Standard*/
  height: 1em; }

.view-container {
  display: flex;
}

.welcome-container {
  padding: 1.5em;
  white-space: pre-line;
  background-image: url(../images/circuit.png) !important;
  background-position: top right !important;
  background-size: 50% 75%!important;
  background-repeat: no-repeat !important;
  color: black;
}

.content-container {
  background: rgba(73, 73, 73, 0.56);
  color: ghostwhite;
  font-weight: 400;
  padding: 1.5em;
  border-radius: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.preachy-speechy {
  padding: 1em;
  color: white;
  font-size: 1.1em;
  font-weight: 300;
  background-color: rgba(54, 52, 52, 0.86);
  border-radius: 0.5em 1em;
}


/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $icon-color;
    }
  }
}


