$icon-color: #828282;


/**
 * Site footer
 */
.site-footer {
  padding: 1em 0;
}

.footer-wapper {
  display: flex;
}

.footer-heading {
  font-size: 1.15em;
  margin-bottom: 0.5em;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}


img {
  max-width: 100%;
  vertical-align: middle;
}

.icon-credits {
  font-size: 0.25em;
}

body {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  background: #5d0f00 url('../images/stripe.png');
  background-attachment: fixed;
  -webkit-text-size-adjust: 100%;
  color: ghostwhite;
  overflow-x: hidden;
  display: block;
  max-width: 1500px;
  margin: auto;
  padding: 40px 50px;
}




.project-creation-container {
}

.boxed-content {
  background: rgba(13, 15, 108, 0.25);
  z-index: 10000;
  position: relative;
  width: 99.984%;
  border-radius: 0 0 1em 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.app-container {
  box-sizing: content-box;
  padding: 20px;
  border-radius: 1.5em;
}

.slider-bro {
  margin-top: 3rem;
}

.dead-mans-switch {

}

.site-border {
  background: rgba(14, 0, 150, 0.64);
  border-radius: 1em 1em 0 0;
  opacity: 0.5;
  background: -webkit-linear-gradient(left, rgba(14, 0, 150, 0.64), #cecbd9);
  /*Safari 5.1-6*/
  background: -o-linear-gradient(right, rgba(14, 0, 150, 0.64), #cecbd9);
  /*Opera 11.1-12*/
  background: -moz-linear-gradient(right, rgba(14, 0, 150, 0.64), #cecbd9);
  /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(14, 0, 150, 0.64), #cecbd9);
  /*Standard*/
  height: 1em; }



.view-container {
  display: flex;
}

.welcome-container {
  white-space: pre-line;
}

.content-container {
  background: rgba(45, 41, 70, 0.75);
  color: ghostwhite;
  font-weight: 400;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/**
 * Icons
 */
.icon {

  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $icon-color;
    }
  }
}


