.project-description-container {
  flex-grow: 1;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-reach-container {
  max-width: 30%;
}

.project-container {
  cursor: pointer;
  display: flex;
  margin-top: 2em;
}

.project-input {
  display: inline-block;
}

.project-input > label{
  padding-top: 1.5em;
  margin-right: 0.5em;
  background: rgba(20,20,120, 0.25);
  border-radius: 1em;
  padding: 1em;
  display: inline-block;
}

.project-input > div {
  margin: 1.5em;
  position: relative;
}
