.project-description-container {
  flex-grow: 1;
  border-radius: 1em;
  max-width: 65%;
  padding: 1em;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.project-description-container > p {
  white-space: pre-wrap;
  font-family: Consolas, Monaco, 'Andale Mono', monospace, "Lucida Console", monospace;
}

.project-reach-container {
}

.project-container {
  cursor: pointer;
  display: flex;
  margin-top: 2em;
  padding: 1em;
  border-radius: 1em;
}

.project-title {
  font-family: proto, Consolas, Monaco, 'Andale Mono', monospace, "Lucida Console", monospace;
}

.project-input {
}

.project-pwd {
  font-weight: 400;
}

.project-host-name {
  font-weight: 400;
}

.complete-project-container{

}

.project-input > label{
  margin-right: 0.5em;
  background: rgba(120,20,20, 0.25);
  border-radius: 1em;
  padding: 1em;
}

.project-input > div {
  margin: 1.5em;
  position: relative;
}


.edit-container {
  margin-top: 1em;
}