.spinner {
  margin: auto;
  width: 15em;
  height: 5em;
  text-align: center;
  font-size: 1em;
}

.spinner > div {
  background-color: #333;
  height: 100%;
  width: 1.5em;
  margin-right: 0.25em;
  display: inline-block;

  -webkit-animation: sk-stretchdelay 0.8s infinite alternate;
  animation: sk-stretchdelay 0.8s infinite alternate;
}

.spinner .rect1 {
  -webkit-animation-name: sk-stretchdelay_1;
  animation-name: sk-stretchdelay_1;
}

.spinner .rect2 {
  -webkit-animation-name: sk-stretchdelay_2;
  animation-name: sk-stretchdelay_2;
}

.spinner .rect3 {
  -webkit-animation-name: sk-stretchdelay_3;
  animation-name: sk-stretchdelay_3;
}

.spinner .rect4 {
  -webkit-animation-name: sk-stretchdelay_4;
  animation-name: sk-stretchdelay_4;
}

.spinner .rect5 {
  -webkit-animation-name: sk-stretchdelay_5;
  animation-name: sk-stretchdelay_5;
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% {
    -webkit-transform: scaleY(0.5)
  }
  20% {
    -webkit-transform: scaleY(0.75)
  }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  20% {
    transform: scaleY(0.75);
    -webkit-transform: scaleY(0.75);
  }
}

@-webkit-keyframes sk-stretchdelay_1 {
  0% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }

  10% {
    transform: scaleY(0.75);
    -webkit-transform: scaleY(0.75);
  }
  20% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
}

@keyframes sk-stretchdelay_1 {
  0% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }

  10% {
    transform: scaleY(0.75);
    -webkit-transform: scaleY(0.75);
  }
  20% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
}


///////////////////////////////////////

@-webkit-keyframes sk-stretchdelay_2 {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }

  10% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  20% {
    transform: scaleY(0.75);
    -webkit-transform: scaleY(0.75);
  }
  30% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
}

@keyframes sk-stretchdelay_2 {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }

  10% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  20% {
    transform: scaleY(0.75);
    -webkit-transform: scaleY(0.75);
  }
  30% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
}


///////////////////////////////////////

@-webkit-keyframes sk-stretchdelay_3 {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }

  30% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  40% {
    transform: scaleY(0.75);
    -webkit-transform: scaleY(0.75);
  }
  50% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
}

@keyframes sk-stretchdelay_3 {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }

  30% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  40% {
    transform: scaleY(0.75);
    -webkit-transform: scaleY(0.75);
  }
  50% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
}

////////////////////////////////////////

@-webkit-keyframes sk-stretchdelay_4 {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }

  70% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  80% {
    transform: scaleY(0.75);
    -webkit-transform: scaleY(0.75);
  }
  90% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
}

@keyframes sk-stretchdelay_4 {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }

  70% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  80% {
    transform: scaleY(0.75);
    -webkit-transform: scaleY(0.75);
  }
  90% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
}


///////////////////////////////////////

@-webkit-keyframes sk-stretchdelay_5 {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
  90% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}

@keyframes sk-stretchdelay_5 {
  0% {
    transform: scaleY(0.1);
    -webkit-transform: scaleY(0.1);
  }
  90% {
    transform: scaleY(0.5);
    -webkit-transform: scaleY(0.5);
  }
  100% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}