$welcome-background-color: rgba(73, 73, 73, 1);
$welcome-highlight-color: limegreen;
.welcome-header-container {
  display: inline-flex;
}

@font-face {
  font-family: 'proto';
  src: url('./Protos.otf');
}

.welcome-header {
  background-color:  rgba(144, 26, 26, 0.28);
  padding: 0.5em;
  color: ghostwhite;
  font-family: 'proto', Consolas, Monaco, 'Andale Mono', monospace;
  border-radius: 0.25em 1em 0.5em 1em;
  text-shadow: -1px -1px 0 #850013,
  1px -1px 0 #850013,
  -1px 1px 0 #850013,
  1px 1px 0 #850013;
}



.welcome-container {
  padding: 1.5em;
  color: black;
  background: url(../images/hex.png), url(../images/hex-right.png), $welcome-background-color !important;
  background-position: top left, top right !important;
  background-repeat: repeat-y, repeat-y !important;
}

.welcome-bar {
  white-space: pre-wrap;
}

.nano-container {
  padding: 1em;
  font-size: 1em;
  font-weight: 300;
  color: $welcome-highlight-color;

  font-family: Consolas, Monaco, 'Andale Mono', monospace, "Lucida Console", monospace;
}

.nano-header {
  display: flex;
  background: $welcome-highlight-color;
  margin-bottom: 1em;
  color: $welcome-background-color;
}

.nano-version {
  flex-grow: 0.25;
  padding-left: 0.25em;
}


.nano-command {
  display: flex;
}

.nano-command-container {
  display: flex;
  flex-grow: 1;
}

.nano-command-group {
  flex-grow: 1;
}

.nano-commands {
  display: flex;
}

.nano-commands div {
  margin-bottom: 0;
  position: relative;
}

.nano-command-hotkey {
  background: $welcome-highlight-color;
  color: $welcome-background-color;
  margin-right: 0.5em;
}

.nano-command-label {
  margin-right: 0.5em;
}
